.text_style{
    background-color: white !important; 
    /*color: #FFC107;*/ 
    text-align: center;
    font-family: cursive; 
    font-weight: bold ;
    font-size: large;
}

.heading_style{
    font-family: cursive;
    font-size: medium;
    font-weight: bold;
}

padding_20{
    padding-top:20px !important;
    padding-bottom: 20px !important;
}

.heading_style_large{
    font-family: cursive;
    font-size: x-large;
    font-weight: bold;
}

.text_style_large{
    background-color: white !important; 
    /*color: #FFC107;*/ 
    text-align: center;
    font-family: cursive; 
    font-weight: bold ;
    font-size: x-large;
}

.mainheading_style{
    font-family: cursive;
    background-color: #00bcd4;
}

.blue_color{
    background-color: #00bcd4;
}

.red_color{
    background-color: red !important;    
}


.square {
  height: 50px;
  width: 50px;
  border : solid #000 1px ;
  margin:8px;
  color: red;
  text-align: center;
  font-family: cursive; 
  font-weight: bold ;
  font-size: large;
}


.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border : solid #000 1px ;
  margin:8px;
  color: red;
  text-align: center;
  font-family: cursive; 
  font-weight: bold ;
  font-size: large;
  
}

.bigrec {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border : solid #000 1px ;
  margin:8px;
  color: red;
  text-align: center;
  font-family: cursive; 
  font-weight: bold ;
  font-size: large;
  
}
